body{
    width: 97vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#button_box{
    width: 150px;
    height: 150px;
    background-color:rgb(216, 184, 184);
    border-radius:50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    #rotate{
        width: 150px;
        height: 150px;
        background: linear-gradient(45deg,blue,orange);
        animation-name: sai;
        animation-duration: 1s;
        animation-direction: normal;
        animation-iteration-count: infinite;
        position: relative;
        /* overflow: hidden; */
        

    }

}

@keyframes sai {
    0%{
        
        transform:rotate(360deg);
    }
}
#button{
    position: absolute;
    border-radius: 50px; 
    margin-top: 5.2%;
    width: 140px;
    height: 140px;
    font-size: 30px;
    color: orange;
    text-shadow: 1px 1px 2px black;

}